<div class="project">
  <div class="project-name">
    <h2><%= project.name %></h2>
  </div>
  <div class="project-image">
    <%= image_tag project.image_url, alt: project.name %>
  </div>
  <div class="project-description">
    <article class="type-system-sans">
      <p><%= project.description %></p>
      <% if project.url.present? %>
        <p><%= link_to "Check it out <i class='fa fa-caret-right'></i>", project.url, class: "read-more", target: "_blank" %></p>
      <% end %>
      <% project.technologies.each do |technology| %>
        <span class="badge-technology"><%= technology %></span>
      <% end %>
    </article>
  </div>
</div>
